{
  "bracketSameLine": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 80,
  "tabWidth": 2,
  "importOrder": [
    "^(react|react-router-dom|react-i18next|)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/assets/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}